<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/blog.css" />
    <link rel="stylesheet" href="/css/formpage.css" />
    <link rel="stylesheet" href="/css/nav-style.css" />
    <script src="https://use.fontawesome.com/36d660b0bd.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap"
      rel="stylesheet"
    />
    <title>Ace Blog</title>
  </head>

  <body>
    <%- include("../partials/_header") %>

    <section class="blog">
      <h1><%= post.title %></h1>
    </section>

    <section class="main-blog">
      <div class="blog-container">
        <div class="form blog-form">
          <h2><%= post.title %></h2>
          <p><%= post.body %></p>
          <div class="details">
            <div class="det">
              <p><%= post.author %></p>
            </div>
            <div class="det">
              <% var createdAt = post.createdAt.toString().slice(4, 16) %>

              <small class="time-posted">
                <%= createdAt.substring(0, 6) + "," + createdAt.substring(6,
                createdAt.length) %>
              </small>
            </div>
          </div>
        </div>
      </div>
    </section>
    <main class="main-blog-form">
      <div class="blog-container comment-container">
        <form action="/post/comment?title= + <%= post.title %>" method="POST">
          <div class="blog-form">
            <h2>Post a Comment</h2>
            <input
              type="text"
              name="username"
              placeholder="Username"
              required
            />
            <textarea
              type="text"
              name="message"
              placeholder="message"
              required
            ></textarea>
            <button type="submit" class="btn">Post Comment</button>
          </div>
        </form>
      </div>
    </main>

    <section class="main-blog-form">
      <div class="blog-container comment-container">
        <h2>Comment</h2>
      </div>
    </section>
    <section>
      <div class="blog-container comment-container">
        <form action="/contact" method="POST">
          <% post.comments.forEach(comment => { %>
          <div class="blog-form">
            <div class="re">
                <div class="re-name">
                  <h4> <%= comment.username %> </h4>
                  <% var createdAt = post.createdAt.toString().slice(4, 25) %>

                
                  <small><%= createdAt.substring(0, 6) + "," + createdAt.substring(6,
                    11) + " at" + createdAt.substring(11, createdAt.length) %></small>
                </div>
              
              
            </div>
            <div class="message">
              <p><%=
                comment.comment
                %>
              </p>
            </div>
          </div>
          <% }) %>
        </form>
      </div>
    </section>

    <script src="/js/script.js"></script>
    <script src="/js/article.js"></script>
  </body>
</html>
