<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <link rel="stylesheet" href="./css/index.css" />
    <link rel="stylesheet" href="./css/nav-style.css" />
    <script src="https://use.fontawesome.com/36d660b0bd.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet" />
    <title>Ace Blog</title>
</head>

<body>
    <%- include("../partials/_header") %>

        <main class="main-index">
            <div class="container-index">
                <a href="/blog">
                    <div class="article-grid">
                        <% results.forEach(result => { %>
                            <div class="article">
                                <h1 class="article-title">
                                    <%= result.title %>
                                </h1>
                                <p class="article-snippet">
                                    <%= result.body %>
                                </p>
                                <div class="bottom-items">
                                    <small class="time-posted"> <%= result.createdAt %> </small>
                                    <small class="reads"> <%= result.views %> </small>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </a>
            </div>
        </main>

        <script src="./js/script.js"></script>
        <script src="./js/article.js"></script>
</body>

</html>